node_modules/

vendor/

.env

.env.*

public/build

bootstrap/cache/*

storage/*.key

storage/logs/*

storage/framework/cache/*

storage/framework/sessions/*

storage/framework/views/*

coverage/

dist/

.idea/

.vscode/

.DS_Store
